h4{
    border: 2px solid red;
    width: 70px;
    height: 30px;  
    outline: 2px solid blue;
    text-align: center;
    padding: 10px;
    margin: 50px;
    outline-offset: 20px;
    border-radius: 10px;
}